@mixin response($size) {
    @if $size == phone {
        @media screen and (max-width: 899px) {
            @content
        }
    }

    @if $size == tablet {
        @media screen and (min-width: 900px) {
            @content
        }
    }

    @if $size == desktop {
        @media screen and (min-width: 1200px) {
            @content
        }
    }
}


.profile-dropdown {
    // cursor: pointer;
    list-style: none;
    background: #1C1C24;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)), drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)), drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)), drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)), drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)), drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
    transform-origin: top center;
    animation: scale 600ms ease-in-out forwards;
    

    @include response(phone) {
        height: 100vh;    
        width: 100%;
        padding: 5em 0;
    }

    @include response(tablet) {
        display: block;
        min-width: 190px;
        max-width: 190px;
        position: absolute;
        top: 50px;
        border-radius: 7px;
        border: 1px solid #2D2D3A;

    }


    @keyframes scale {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        80% {
            transform: scale(1.07);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .drop-down-header {
        font-weight: 500;
        font-size: 22px;
        line-height: 20px;
        padding: 1.1em 0.6em;

        @include response(tablet) {
            display: none;

        }
    }

    .drop-down-li {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;

        .mode-link {
            border-top: 1px solid #2D2D3A;
            border-bottom: 1px solid #2D2D3A;
            text-decoration: none;
            color: #ffffff;
            font-size: 15px;
            padding: 1.5em 0.6em;
            width: 100%;

            &:hover {
                background-color: #2D2D3A;
            }

            .drop-down-display {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .drop-down-icon-container {
                    display: flex;
                    align-items: center;

                    span {
                        margin-right: 0.5em;

                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        a {
            text-decoration: none;
            color: #ffffff;
            font-size: 15px;
            padding: 1.1em 0.6em;
            width: 100%;

            @include response(tablet) {
                padding: 0.6em;
            }

            &:hover {
                background-color: #2D2D3A;
            }

            .drop-down-display {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .drop-down-icon-container {
                    display: flex;
                    align-items: center;

                    span {
                        margin-right: 0.5em;

                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    .drop-down-footer {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        padding: 2em 0;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        color: #5F5F6F;

        @include response(tablet) {
            display: none;
        }
    }
}


// @mixin response($size) {
//     // @if $size == phone {
//     //     @media screen and (max-width: 600px) {
//     //         @content
//     //     }
//     // }

//     @if $size == tablet {
//         @media screen and (min-width: 900px) {
//             @content
//         }
//     }

//     @if $size == desktop {
//         @media screen and (min-width: 1200px) {
//             @content
//         }
//     }
// }


// .profile-dropdown {
//     position: absolute;
//     cursor: pointer;
//     min-width: 190px;
//     max-width: 190px;
//     list-style: none;
//     top: 50px;
//     background: #1C1C24;
//     border: 1px solid #2D2D3A;
//     border-radius: 7px;
//     filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)), drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)), drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)), drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)), drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)), drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
//     transform-origin: top center;
//     animation: scale 600ms ease-in-out forwards;





//     @keyframes scale {
//         0% {
//             opacity: 0;
//             transform: scale(0);
//         }

//         80% {
//             transform: scale(1.07);
//         }

//         100% {
//             opacity: 1;
//             transform: scale(1);
//         }
//     }

    

//     .drop-down-li {
//         display: flex;
//         align-items: center;
//         flex-direction: row;
//         width: 100%;

//         .mode-link {
//             border-top: 1px solid #2D2D3A;
//             border-bottom: 1px solid #2D2D3A;
//             text-decoration: none;
//             color: #ffffff;
//             font-size: 15px;
//             padding: 0.8em 0.6em;
//             width: 100%;

//             &:hover {
//                 background-color: #2D2D3A;
//             }

//             .drop-down-display {
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//                 width: 100%;

//                 .drop-down-icon-container {
//                     display: flex;
//                     align-items: center;

//                     span {
//                         margin-right: 0.5em;

//                         img {
//                             vertical-align: middle;
//                         }
//                     }
//                 }
//             }
//         }

//         a {
//             text-decoration: none;
//             color: #ffffff;
//             font-size: 15px;
//             padding: 0.6em;
//             width: 100%;

//             &:hover {
//                 background-color: #2D2D3A;
//             }

//             .drop-down-display {
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//                 width: 100%;

//                 .drop-down-icon-container {
//                     display: flex;
//                     align-items: center;

//                     span {
//                         margin-right: 0.5em;

//                         img {
//                             vertical-align: middle;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

