@mixin response($size) {
    // @if $size == phone {
    //     @media screen and (max-width: 600px) {
    //         @content
    //     }
    // }

    @if $size == tablet {
        @media screen and (min-width: 900px) {
            @content
        }
    }

    @if $size == desktop {
        @media screen and (min-width: 1200px) {
            @content
        }
    }
}

.mobile-menu-container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    border-top: 1px solid #5F5F6F;
    background: #1C1C24;

    @include response(tablet) {
        display: none;
    }

    .mobile-menu-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        .mobile-menu-ul {
            list-style: none;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            

            .mobile-menu-li {
                display: inline-block;
                padding: 0.5em;
                text-align: center;

                a,
                .drop-link {
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                    font-size: 0.8em;

                    .mobile-menu-display {
                        display: block;
                        text-align: center;

                        p {
                            margin-top: 0.5em;
                        }
                    }
                }
            }
        }
    }
}