.profile-container {
  padding: 5em 0;
}

.profile-container .profile-header-text {
  font-size: 22px;
  line-height: 20px;
  padding-bottom: 0.8em;
  color: #FFFFFF;
}

.profile-container .profile-display {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3em;
}

@media screen and (min-width: 900px) {
  .profile-container .profile-display {
    grid-template-columns: repeat(3, 1fr);
  }
}

.profile-container .profile-display .profile-file-container .profile-file-display {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

@media screen and (min-width: 500px) {
  .profile-container .profile-display .profile-file-container .profile-file-display {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .profile-container .profile-display .profile-file-container .profile-file-display {
    grid-template-columns: repeat(1, 1fr);
  }
}

.profile-container .profile-display .profile-file-container .profile-file-display .profile-file {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  background: #2D2D3A;
  border-radius: 10px;
  width: 100%;
}

.profile-container .profile-display .profile-file-container .profile-file-display .profile-file .profile-file-image-container {
  width: 100%;
  display: block;
}

.profile-container .profile-display .profile-file-container .profile-file-display .profile-file .profile-file-image-container .profile-file-image-display {
  overflow: hidden;
  display: block;
  border-radius: 10px;
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}

.profile-container .profile-display .profile-file-container .profile-file-display .profile-file .profile-file-image-container .profile-file-image-display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.profile-container .profile-display .profile-file-container .profile-file-display .profile-file .profile-file-btn-container {
  margin-top: 0.8em;
}

.profile-container .profile-display .profile-file-container .profile-file-display .profile-file .profile-file-btn-container button {
  background: #2D2D3A;
  border-radius: 10px;
  border: 1px solid #414150;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  width: 100%;
  height: 2.8em;
}

.profile-container .profile-display .profile-file-container .profile-file-display .social-container .social-header {
  color: #5F5F6E;
  line-height: 25px;
}

.profile-container .profile-display .profile-file-container .profile-file-display .social-container .social-display {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
}

.profile-container .profile-display .profile-file-container .profile-file-display .social-container .social-display .social-list {
  background: #1C1C24;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em 0.5em;
}

.profile-container .profile-display .profile-file-container .profile-file-display .social-container .social-display .social-list .social-list-image-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profile-container .profile-display .profile-file-container .profile-file-display .social-container .social-display .social-list .social-list-btn-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profile-container .profile-display .profile-file-container .profile-file-display .social-container .social-display .social-list .social-list-btn-container .social-add-btn {
  border-radius: 50%;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
  outline: none;
  padding: 0.2em;
  background: #4447E2;
}
/*# sourceMappingURL=profile.css.map */