.profile-container {
    padding: 5em 0;
    width: 90%;
    margin: 0 auto;
    .profile-display {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .profile-file-container {
            .profile-file-display {
                display: flex;
                align-items: center;
                flex-direction: column;

                .profile-file {

                }

                .social-container {

                }
            }
        }
    }
}