.profile-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;


    form {
        .profile-form-btn {
            margin-top: 2em;
            width: 150px;
        }
    }

}