.profile-static-container {
    width: 100%;
    
    .profile-static-display {
        background: #2D2D3A;
        border-radius: 15px;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 1em;

        .static-icon-container {
            margin-right: 1em;
        }

        .static-detail-container {
            display: block;

            .static-number {
                font-size: 1.1rem;
                color: #ffffff;
            }

            .static-text {
                font-size: 0.8rem;
                line-height: 20px;
                /* identical to box height, or 125% */

                display: flex;
                align-items: center;

                color: #5F5F6E;
            }
        }
    }
}